@import 'common.css';

#btn-filtrar {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);
    background-image: url('/img/icons/buscar.png');
    background-repeat: no-repeat;
    background-size: 20px 20px; 
    background-position: center left;

}

header .menu{
    margin-right: 13px;
    margin-left: 13px;
    padding-top: 20px;
    background-color: var(--fondo-Menu);
    width: 100%;
}


#filtro-año {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);
}

#filtro-cargo {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);

}

#filtro-distrito {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);
}

#boton-inicio {
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

#boton-inicio:hover {
    color: var(--textos);
}


.message-error, .message-exclamation, .message-success{
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

#sec-messages .message-error {
    background-color: var(--mensaje-usuario-rojo);
    
    

}

#sec-messages .message-success {
    background-color: var(--mensaje-usuario-verde);
    

}

#sec-messages .message-exclamation{
    background-color: var(--mensaje-usuario-amarillo);
    

}

#sec-messages p {
    color: #FFF;
}

#sec-messages i {
    color: #FFF;
    margin-right: 10px;
}


#sec-titulo{
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: var(--celeste);
    margin-left: 50px;
}

.texto-path{
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: var(--celeste);
}

#boton-informe{
    background-color: var(--gris-claro);
    color: white;
    font-size: 10px;   
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 45px;
    height: 30px;
}

#boton-agregar-informe:hover{
    color: var(--textos);
}





.contenedor {
    display: flex;
    justify-content: flex-end;
}

.item {
    background-color: var(--color-fondo);
    border-radius: 10px;
    margin: 15px;
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.icono-svg {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.texto {
    color: white;
    font-size: 12px;
}

.sec-contenido {
    display: flex;
    justify-content: flex-end;

    
}

#Mesas-escrutadas {
    background-color: var(--celeste);

}

#Electores {
    background-color: var(--magenta);
}

#Escrutados {
    background-color: var(--morado);
}







.recuadros-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.recuadro {
    background-color: white;
    border-radius: 25px;
    border: 1px var(--borde-Grilla) solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
}

.titulo-recuadro {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding-top: 14px;
}

.recuadro h3 {
    text-align: left;
}

.recuadro p {
    text-align: right;
    color: black;
    font-size: 10px;
}

.contenido-recuadro {
    padding: 10px;
}

.recuadro .contenido-recuadro {
    max-height: 325px;
    overflow-y: auto;
}

.contenido-recuadro svg {
    max-width: 100%;
    height: auto;
    align-items: center;
    padding-top: 40px;
}

.cuadrado {
    border-radius: 10px;
    margin: 15px;
    width: 184px;
    height: 70px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-size: 50px;
    padding: 0.5rem 1rem;

}
.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}


.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}


.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: "0%";
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: "100%";
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}


.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}

#partido1 {
    background-color: var(--grafica-amarillo);
}

#partido2 {
    background-color: var(--grafica-lila2);
}

#partido3 {
    background-color: var(--grafica-bordo);
}

#partido4 {
    background-color: var(--grafica-celeste);
}

#partido5 {
    background-color: var(--grafica-lila);
}

#partido6 {
    background-color: var(--grafica-bordo);
}

#partido7 {
    background-color: var(--grafica-verde);
}

#partido8 {
    background-color: var(--grafica-gris);
}


.progress {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-amarillo-claro);
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 40%;
    background: var(--grafica-amarillo);
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

.progress2 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-lila-claro);
}

.progress-bar2 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 20%;
    background: var(--grafica-lila);
}

.progress-bar-text2 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
    
}

.progress3 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-celeste-claro);
}

.progress-bar3 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 38%;
    background: var(--grafica-celeste);
}

.progress-bar-text3 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}




.progress4 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-bordo-claro);
}

.progress-bar4 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 55%;
    background: var(--grafica-bordo);
}

.progress-bar-text4 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}



.progress5 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-lila2-claro);
}

.progress-bar5 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 10%;
    background: var(--grafica-lila2);
}

.progress-bar-text5 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

