
.header-page {
    width: 100%;
    color: var(--celeste);
    background-color: var(--fondo-Cabecera);
    padding: 0.5rem;
    margin: 0 auto;
    
}

#menu-negro {
    background-color: var(--fondo-Menu);
    padding: 20px;
}

#menu-negro ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#menu-negro li {
    margin-right: 20px;
}


#menu-negro a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFF;
}


#menu-negro a:active {
    font-weight: bold;
}




#boton-general, #boton-informe, #boton-inicio {
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: bold;
    width: 100px;
    padding-top: 9px;
}

#boton-general {
    background-color: var(--magenta);
    color: #FFF;
}

#boton-general:hover {
    background-color: var(--gris-claro);
}

#boton-informe {
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 12px;
}

#boton-informe:hover {
    background-color: var(--gris-claro);
}

#boton-inicio {
    background-color: var(--gris-claro);
    margin-left: auto;


}

.mensajes {
    border-radius: 10px;
    font-weight: 200;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    margin: 20px auto;
    width: 400px;
    color: #FFFFFF;
}

#mensaje-completado {
    background-color: var(--mensaje-usuario-verde);
}

#mensaje-error {
    background-color: var(--mensaje-usuario-rojo);
}

#mensaje-exclamacion {
    background-color: var(--mensaje-usuario-amarillo);
}

.mensajes p {
    color: #FFF;
}

.mensajes i {
    color: #FFF;
    margin-right: 15px;
}

.sec-contenido {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    width: 100%;

}

#boton-agregar-informe {
    background-color: var(--gris-claro);
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: auto;
    height: 25px;
    color: #FFF;

}

#boton-agregar-informe:hover {
    color: var(--textos);
}

.cuadrado {
    font-weight: bold;
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    background-size: 50px;
    font-size: 11px;
    width: 180px;
}

.cuadrado p {
    color: #FFF;
}


#urna-mesas-escrutadas {
    background-color: var(--celeste);
}

#tipitos-electores {
    background-color: var(--magenta);
    
}

#escrutadas {
    background-color: var(--morado);
}

.recuadros-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.recuadro {
    background-color: white;
    border-radius: 25px;
    border: 1px var(--borde-Grilla) solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
}

.titulo-recuadro {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding-top: 14px;
}

.recuadro h3 {
    text-align: left;
}

.recuadro p {
    text-align: right;
    color: black;
    font-size: 10px;
}

.contenido-recuadro {
    padding: 10px;
}

.recuadro .contenido-recuadro {
    max-height: 325px;
    overflow-y: auto;
}

.contenido-recuadro svg {
    max-width: 100%;
    height: auto;
    align-items: center;
    padding-top: 40px;
}

.cuadrado {
    border-radius: 10px;
    margin: 15px;
    width: 184px;
    height: 70px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-size: 50px;
    padding: 0.5rem 1rem;

}
.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}


.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}


.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: "0%";
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: "100%";
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}


.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}

#partido1 {
    background-color: var(--grafica-amarillo);
}

#partido2 {
    background-color: var(--grafica-lila2);
}

#partido3 {
    background-color: var(--grafica-bordo);
}

#partido4 {
    background-color: var(--grafica-celeste);
}

#partido5 {
    background-color: var(--grafica-lila);
}

#partido6 {
    background-color: var(--grafica-bordo);
}

#partido7 {
    background-color: var(--grafica-verde);
}

#partido8 {
    background-color: var(--grafica-gris);
}


.progress {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-amarillo-claro);
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 40%;
    background: var(--grafica-amarillo);
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

.progress2 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-lila-claro);
}

.progress-bar2 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 20%;
    background: var(--grafica-lila);
}

.progress-bar-text2 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
    
}

.progress3 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-celeste-claro);
}

.progress-bar3 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 38%;
    background: var(--grafica-celeste);
}

.progress-bar-text3 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}




.progress4 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-bordo-claro);
}

.progress-bar4 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 55%;
    background: var(--grafica-bordo);
}

.progress-bar-text4 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}



.progress5 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-lila2-claro);
}

.progress-bar5 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 10%;
    background: var(--grafica-lila2);
}

.progress-bar-text5 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

.texto-path {
    color: var(--celeste);
}

#select {
    background-color: transparent;
    font-size: 14px;
    padding: 5px;
    border-style: hidden;
    height: 25px;
    color: var(--celeste);
}

#filtrar {
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: bold;
    width: 100px;
    padding-top: 9px;
    background-color: #FFF;
}
