.encabezado {
  width: 1024px;
  margin: 0 auto 10px auto;
}


.sec-titulo {
  width: 1024px;
  margin: 0 auto 50px auto;
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  line-height: 25px;
  font-size: 18px;
}


.texto-principal {
  justify-content: start;
  line-height: 25px;
  font-size: 18px;
  margin: 30px 0;
}

.image-principal {
  width: 350px;
}

.sec-contenido {
  align-items: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.boton-paso {
  background-color: var(--magenta);
  border-radius: 10px;
  margin: 25px;
  height: 100px;
  width: 400px;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.boton-paso:hover {
  background-color: var(--gris-claro);
}


.imagen-urna {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.palabra-paso {
  color: white;
  font-size: 28px;
}

.boton-generales {
  background-color: var(--celeste);
  border-radius: 10px;
  margin: 25px;
  height: 100px;
  width: 400px;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.boton-generales:hover {
  background-color: var(--gris-claro);
}

.boton-paso a,
.boton-generales a {
  text-decoration: none;
}