
body {
    font-family: Arial, sans-serif;
}

h1 {
    padding-left: 50px;
}


#boton-inicio, #boton-paso, #boton-generales {
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: bold;
    width: 100px;
    padding-top: 9px;
}

#boton-paso {
    background-color: var(--magenta);
    color: #FFF;
}

#boton-paso:hover {
    background-color: var(--gris-claro);
}

#boton-generales {
    background-color: var(--celeste);
    color: #FFF;
}

#boton-generales:hover {
    background-color: var(--gris-claro);
}

#consulta {
    color: #FFF;
    margin-top: 5px;
}

#boton-inicio {
    background-color: var(--gris-claro);
    margin-left: auto;
}

#boton-inicio a:hover {
    color: var(--textos);
}



.mensaje-error, .mensaje-exclamacion, .mensaje-completado{
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

#sec-messages .mensaje-error {
    background-color: var(--mensaje-usuario-rojo);
}

#sec-messages .mensaje-completado {
    background-color: var(--mensaje-usuario-verde);
}

#sec-messages .mensaje-exclamacion{
    background-color: var(--mensaje-usuario-amarillo);
}

#sec-messages p {
    color: #FFF;
}

#sec-messages i {
    color: #FFF;
    margin-right: 10px;
}



#sec-contenido #Elecciones-titulo{
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: var(--celeste);
}



.grilla {
    width: 1024px;
    margin: 0 auto 50px auto;
    border-radius: 15px;
    border: 1px solid var(--borde-Grilla);
    background-color: rgb(250, 250, 250);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: center;
    color: var(--titulo-Grilla);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

thead th {
    padding: 10px 20px;
    border-bottom: 1px solid var(--borde-inferior-Grilla);
}

tbody tr:hover {
    background-color: rgb(250, 250, 250);
}

tbody td {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--borde-inferior-Grilla);
    padding: 15px 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

td svg {
    max-width: 100%;  
    align-items: left;
}

td {
    width: 400px; 
    height: 270px;
}

.texto-titulo {
    font-size: 12px;
    color: var(--textos);
    font-weight: bold;
}

.texto-azul {
    font-size: 11px;
    color: var(--celeste);
    text-align: center;
}

.dato-general {
    border-radius: 10px;
    margin: 15px;
    font-weight: bold;
    width: 80px;
    height: 70px;
    padding: 0.5rem 1rem;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    background-size: 50px; 
}


.dato-general p {
    color: #FFF;
    font-size: 10px;
    margin: 5px 0; 
}


.dato-general svg {
    width: 50px; 
    height: 50px;
    fill: #fff; 
}


.grilla-datos-por-agrupacion {
    height: 200px;
    padding: 20px;
    font-size: 10px;
    color: var(--textos);
    text-align: left;
    overflow-y: auto;

}

.grilla-datos-por-agrupacion p{
    color: black;
    font-size: 10px;
}

.right-align {
    text-align: right;
    font-weight: bold;
}