

.selector-filtros {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .boton-filtrar {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: white;
    color: var(--textos);
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 80px;
    height: 15px;
    margin: 0 5px 20px 5px;
    display: flex;
    justify-content:center;
  }
  
  
  
  .boton-inicio-header {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--gris-claro);
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 15px;
    width: 80px;
    height: 15px;
    margin: 0 5px 20px 5px;
    margin-left: auto;
  }
  
  
  .boton-inicio-header:hover {
    color: var(--textos);
  }
  
  header select {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
  }
  
  
  .boton-informes {
    padding: 5px 12px 5px 13px;
    text-align: center;
    text-decoration: none;
    line-height: 15px;
}

  

  i {
    font-size: 16px;
    margin-right: 10px;
  }
  
  
  
  div p {
    color: white;
  }
  
  
  .titulo {
    width: 90%;
    margin: auto;
  }
  
  .titulo p {
    font-size: 14px;
    color: var(--celeste);
  }
  
  .agregar-informe-boton {
    background-color: var(--gris-claro);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
  }
  
  .agregar-informe-boton:hover {
    color: var(--textos);
  }
  
  .main {
    width: 90%;
    margin: auto;
  }
  
  .main main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-cards {
    display: flex;
  }
  
  /*cada rectangulo (celeste, rosa, morado)*/
  .card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 12px;
  }
  
  .card div p {
    color: white;
  }
  
  .card div p:first-child {
    font-weight: bold;
  }
  
  .card:first-child {
    background-color: var(--celeste);
  }
  
  .card:nth-child(2) {
    background-color: var(--magenta);
  }
  
  .card:nth-child(3) {
    background-color: var(--morado);
  }
  
  /*cuadros de agrupaciones politicas, mapas y resumen de votos*/
  .datos {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    gap: 15px;
  }
  
  .agrupaciones-container,
  .mapa,
  .chart-wrap {
    border-radius: 25px;
    border: 1px solid var(--borde-Grilla);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 500px;
  
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-grow: 1;
    width: 30%;
  }
  
  .agrupaciones {
    overflow-y: auto;
    
  }
  
  .titulo-container h3 {
    font-weight: bold;
    padding: 1.8 rem 0 0 0;
    text-align: center;
    white-space: nowrap;
  }
  
  .separador {
    width: 95%;
    margin: auto;
    border: 1px solid rgb(199, 199, 199);
  }
  
  .agrupacion h3 {
    text-align: start;
    margin-left: 5px;
  }
  
  .agrupacion-texto {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .agrupacion-texto h3 {
    font-size: 12px;
    font-weight: bold;
  }
  
  .agrupacion-texto p {
    font-size: 11px;
    color: var(--textos);
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .mapa,
  .chart-wrap {
    overflow: hidden;
    text-align: center;
  }
  
  .mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .mapa svg {
    width: 300px;
    height: 100%;
  }
  
  
  /*barra de progreso*/
  .progress {
    height: 35px;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
  }
  
  .progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
  }
  
  .mapa .chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
  }
  
  
  /*estilos de grafico de barras*/
  .chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
  }
  
  /* gira el grafico a 90 grados */
  .chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
  }
  
  .chart-wrap.horizontal .bar::after {
    /* gira las letras en sentido horizontal*/
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
  }
  
  .chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding-left: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
  }
  
  /* posicionamos el % del gráfico*/
  .chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: "0%";
    position: absolute;
    left: -0.5em;
    top: -1.5em;
  }
  
  .chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: "100%";
    position: absolute;
    right: -1.5em;
    top: -1.5em;
  }
  
  /* giramos las valores de 0% y 100% para horizontal */
  .chart-wrap.horizontal .grid::before,
  .chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
  }
  
  
  .chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--celeste);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
    margin: 10px 0;
  }
  
  .chart-wrap .bar:hover {
    opacity: 0.7;
  }
  
  .chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
  }
  
  #contenedor-barras p {
    color: black;
    text-align: right;
    margin-right: 30px;
  }
  
  #grid-votos {
    max-height: 70px;
    align-items: center;
    padding: auto;
  }

  .chart-wrap.horizontal .grid {
    margin-top: 15px; 
    margin-left: -50px; 
    
  }
  